
.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
}
  
.main-area {
  backdrop-filter: blur(0.9px); 
  background-color: transparent;
}

.wavy-heading {
  position: relative;
}

.wavy-line {
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 15px;
  background: url("data:image/svg+xml,%3Csvg width='100' height='15' viewBox='0 0 100 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.5 C 10 0, 20 15, 30 7.5 S 50 15, 60 7.5 S 80 0, 100 7.5' stroke='%234CAF50' fill='none' stroke-width='2'/%3E%3C/svg%3E") repeat-x;
  background-size: 100px 15px;
  opacity: 0.7;
}

@keyframes InputErrorAnimation {
  0% {
      transform: translateX(0rem);
  }
  25% {
      transform: translateX(-0.35rem);
  }
  50% {
      transform: translateX(0.4rem);
  }
  75% {
      transform: translateX(-0.35rem) ;
  }
  100% {
      transform: translateX(0rem);
  }
}

.input-error {
  animation: InputErrorAnimation 0.4s ease forwards;
}