.nav {
    backdrop-filter: blur(1.5px); 
    background-color: transparent;
}

.text-btn {
  transition: all 0.2s;
}

.text-btn:hover {
  filter: drop-shadow(0 0 0.5em #dadada93);
}


/* fade button effect */
.btn-0 {
  position: relative;
  z-index: 0;
  transition: color 0.5 ease;
}

.btn-0::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff8c00;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  z-index: -1;
}

.btn-0:hover::before {
  transform: translateX(0);
}